README.github.token
cs
tmp/
EMACS/.emacs.d/eln-cache/
**/*.o
**/a.out
src/cpp/duzen/yaz
src/cpp/talha/ciz
.g8/
.ivy2/
.sbt/
.Xauthority
.bash_logout
.cache/
.config/
.emacs.d/auto-save-list/
.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/transient/
.emacs.d/ido.last~
.gervill/
.gnome/
.java/
.kojo/
.lesshst
.local/
.scala_history
.scala_history_jline3
Downloads
EZCUT0.6.25
Koco/
src/cpp/duzen/yaz.exe
src/cpp/fibo
src/devinim
src/kojo-denemeler/
src/koco
gcodeFiles/
workFiles/
