.Xauthority
.bash_logout
.cache/
.config/
.emacs.d/auto-save-list/
.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/transient/
.gervill/
.gnome/
.java/
.kojo/
.lesshst
.local/
Downloads
EZCUT0.6.25
Koco/
src/cpp/fibo
src/devinim
src/kojo-denemeler/
src/kojo
gcodeFiles/
workFiles/
